<div class="detail-section">
    <div *ngIf="product as p" class="container-fluid">
        
        <img src={{p.imageUrl}} class="detail-img">

        <h3>{{ p.name }}</h3>
        <div class="price">{{ p.unitPrice | currency: 'USD' }}</div>
        <button (click)="addToCart(p)" class="btn btn-primary btn-sm">Add to Cart</button>

        <hr>
        <h4>Description</h4>
        <p>{{ p.description }}</p>
        <a routerLink="/products" class="mt-5">Back to Product List</a>
    </div>
</div>